JWT_SECRET=string
YANDEX_CLIENT_ID=string
YANDEX_CLIENT_SECRET=string
YANDEX_REDIRECT_URI=http://localhost:3001/oauth/yandex/callback
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=string
DB_PASSWORD=string
DB_DATABASE=string
JWT_REFRESH_SECRET=string
